.header__title{
    color: #333333;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 700;
    line-height: 25.18px;
    letter-spacing: -0.08em;
    left: 77px;
    position: absolute;
    top: 40px;
}

